.danger{
    color: lightblue;
    background: red;
    padding: 0.7px;
    width: 80%;
    text-align: center;
    margin: auto;
    border-radius: 3px;
}
.blue{
    color: lightblue;
    background: blue;
    padding: 0.7px;
    width: 80%;
    text-align: center;
    margin: auto;
    border-radius: 3px;
}